.row
  .col.s12.m6
    .card.orange.darken-3
      .card-content.white-text
        .card-content__upper-info
          %span.card-title 
            = article.title
          %span.user-name
            = article.user.name
          %span.date
            = article.created_at.strftime("%Y-%m-%d %H:%M:%S")
        .card-content__text
        %p
          = simple_format(article.text)
      - if user_signed_in?
        .card-action
          =link_to "edit", "/articles/#{article.id}/edit", method: :get
          =link_to "destroy", "/articles/#{article.id}", method: :delete
      - else
        