!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TakeblogMini
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %style{:href => "./style.css", :type => "text/css"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", :src => "https://code.jquery.com/jquery-3.4.1.js"}
  %body
    %nav
      .nav-wrapper.orange.darken-4
        %a.brand-logo{:href => "/"} Takeblog
        - if user_signed_in?
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              =link_to "ログアウト", destroy_user_session_path, method: :delete
            %li
              %a{:href => "/articles/new"} 新規投稿
        - else
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              =link_to "ログイン", new_user_session_path, method: :post
            %li
              =link_to "新規登録", new_user_registration_path, method: :get
    = yield
